# dependencies
node_modules
.pnp
.pnp.js

# build output
.next
out
build

# misc
.DS_Store
*.pem
.env*.local
.env

# vercel
.vercel

# git
.git
.gitignore

# docs and config not needed in image
README.md
TODO.md
*.md

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
